h1{
    color: #e97d44;
}
p{
    color: #0047ab;
}
body{
        background-color: rgb(161, 143, 92);
}
button{
    font-size: large;
    color: rgb(232, 167, 45);
    background-color: rgb(178, 231, 178);
}